@model GradeBook.Models.Student
@{
    ViewBag.Title = "Index";
}
@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
}
else
{
    <script>
        function goToAddGrade()
        {
            location.href = "/Student/AddGrade/@Model.Id";
        }
    </script>
    <h2>@Model.Name</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Letter</th>
                <th>Rate</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grade in Model.Grade)
            {
                <tr>
                    <td>@grade.Letter</td>
                    <td>@grade.Rate</td>
                    <td>@grade.Subject</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <button type="button" onclick="goToAddGrade()">Add Grade</button>
                </td>
            </tr>
        </tfoot>
    </table>
}